/* Css file to test phpCssEmbed in HTTP mode **/

.this-is a#css-selector {
    background: url('https://httpbin.org/image/png');
    background: url('http://httpbin.org/image/jpeg');
    background: url('https://httpbin.org/image/png');
    background: url('https://httpbin.org/image/svg');
    background: url('https://httpbin.org/image/should-be-a-404');
}
