/* Css file to test phpCssEmbed **/

.this-is a#css-selector {
    background: url('php.gif');
    background: url("php.gif");
    background: url( 'php.gif' );
    background: url( php.gif );
    background: url(php.gif);
    background: url(../rsc/php.gif);
    background: url(php.gif);background: url(php.gif);background: url(php.gif);
}